version: '3.8'

services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: music-tagging-backend
    ports:
      - 8000:8000
    volumes:
      - ./backend:/app
    depends_on:
      - frontend
    restart: always
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: music-tagging-frontend
    ports:
      - 80:80
    volumes:
      - ./frontend:/app
    depends_on:
      - backend
    restart: always