services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    platform: linux/amd64
    container_name: music-tagging-backend
    ports:
      - 8000:8000
    volumes:
      - ./backend:/app
      - /mnt/nas/yjx:/mnt/nas/yjx
    restart: always

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    platform: linux/amd64
    container_name: music-tagging-frontend
    ports:
      - 8080:80
    volumes:
      - ./frontend:/app
    depends_on:
      - backend
    restart: always